<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tus Destinos</title>
</head>
<body>
    <h1>Destinos</h1>

    <!-- Mostrar Destinations -->
    <h2>Destinations</h2>
    {% for destination in destinations %}
        <p>Country: {{ destination.country }}</p>
        <p>Number: {{ destination.number }}</p>
        <img src="{{ destination.img1.url }}" alt="Image 1">
        <img src="{{ destination.img2.url }}" alt="Image 2">
        <!-- Agrega más campos según sea necesario -->
    {% endfor %}

    <!-- Mostrar Detailed_descs -->
    <h2>Detailed Descriptions</h2>
    {% for detailed_desc in detailed_descs %}
        <p>Country: {{ detailed_desc.country }}</p>
        <p>Days: {{ detailed_desc.days }}</p>
        <p>Price: {{ detailed_desc.price }}</p>
        <img src="{{ detailed_desc.img1.url }}" alt="Image 1">
        <img src="{{ detailed_desc.img2.url }}" alt="Image 2">
        <!-- Agrega más campos según sea necesario -->
    {% endfor %}
</body>
</html>
